################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/electron-quick-start/
/guidant-xyzcorp/packages
